# Файл с примером переменных окружения для Фронтенда
# В локальной разработке этот файл не используется (работает proxy в vite.config.js)
# В продакшене (Vercel) эту переменную нужно прописать в настройках проекта:
# Environment Variables -> VITE_API_URL -> https://ваш-бэкенд.onrender.com

VITE_API_URL=https://my-backend-url.onrender.com
